#bloco1{
    position: absolute;
    width: 1000px;
    height: 500px;
    background-color: palevioletred;
    top: 10px;
    left: 130px;
}

#bloco2{
    position: absolute;
    width: 600px;
    height: 50px;
    background-color:white;
    top: 200px;
    left: 50%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(-50%); 
}

#bloco3{
    position: absolute;
    width: 60px;
    height: 50px;
    background-color:mediumslateblue;
    top: 200px;
    left: 72%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(-50%); 
}

#bloco4{
    position: absolute;
    width: 180px;
    height: 50px;
    background-color:gray;
    top: 550px;
    left: 70%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(20%); 
}

#bloco5{
    position: absolute;
    width: 180px;
    height: 50px;
    background-color:gray;
    top: 550px;
    left: 50%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(20%); 
}

#bloco6{
    position: absolute;
    width: 180px;
    height: 50px;
    background-color:gray;
    top: 550px;
    left: 30%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(20%); 
}

#bloco7{
    position: absolute;
    width: 180px;
    height: 50px;
    background-color:gray;
    top: 550px;
    left: 10%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(20%); 
}

#bloco8{
    position: absolute;
    width: 180px;
    height: 200px;
    background-color:red;
    top: 700px;
    left: 10%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(20%); 
}

#bloco9{
    position: absolute;
    width: 180px;
    height: 200px;
    background-color:pink;
    top: 700px;
    left: 30%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(20%); 
}

#bloco10{
    position: absolute;
    width: 180px;
    height: 200px;
    background-color:blue;
    top: 700px;
    left: 50%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(20%); 
}

#bloco11{
    position: absolute;
    width: 180px;
    height: 450px;
    background-color: gray;
    top: 700px;
    left: 70%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(20%); 
}

#bloco12{
    position: absolute;
    width: 435px;
    height: 200px;
    background-color:palevioletred;
    top: 950px;
    left: 415px;
    right: 420px;
    z-index: 1;
}

#bloco13{
    position: absolute;
    width: 180px;
    height: 200px;
    background-color:black;
    top: 950px;
    left: 10%;
    z-index: 1;
    margin: auto 0px; 
    transform: translate(20%); 
}






