 #camada1{
          position:absolute; /* Componente absoluto, ele fica sobreposto na pagina acima de todos os outros elementos.*/
          width: 150px;
          height: 300px;
          background-color: rebeccapurple;
          border: 5px solid black;
          text-align: center;
          top: 200px;
          left: 200px;
          z-index: 3;
          }

    #camada2{
          position:absolute; /* Componente absoluto, ele fica sobreposto na pagina acima de todos os outros elementos.*/
          width: 150px;
          height: 300px;
          background-color: orange;
          border: 5px  solid brown;
          text-align: center;
          top: 100px;
          left: 50px;
          z-index: 2;  
           }

    #camada3 {
            text-align: right;
            top: 300px;
            left: 350px;
            z-index: 1;
            background-image: url("");
    }