#azul
{
    position: absolute;
    width:200px ;
    height:100px;
    background-color: blue;
    color: white;
    text-align: center;
    top: 10px;
    left: 150px;
    z-index: 1;
}

#vermelho
{
    position: absolute;
    width: 800px ;
    height:100px;
    background-color: red;
    color: white;
    text-align: center;
    top: 10px;
    left: 350px;
    z-index: 1;
}

#verde
{   
    position: absolute;
    width: 1000px ;
    height:50px;
    background-color: green;
    color: white;
    text-align: center;
    top: 110px;
    left: 150px;
    z-index: 1;
}

#amarela

{   
    position: absolute;
    width: 1000px ;
    height: 400px;
    background-color: orange;
    color: white;
    text-align: center;
    top: 160px;
    left: 150px;
    border: 10px solid red;
    box-sizing: border-box;
    z-index: 2;
}

#cinza

{   
    position: absolute;
    width: 1000px ;
    height: 60px;
    background-color: gray;
    color: white;
    text-align: center;
    top: 560px;
    left: 150px;
    z-index: 1;
}






